nav.navbar.navbar-light(style="background-color: #e3f2fd;")
    p: h3.text-left ～～保育園
    a.navbar-brand(href="/") トップページ
    a.navbar-brand(href="list_student") 園児リスト
    a.navbar-brand(href="list_teacher") 保育士リスト
    a.navbar-brand(href="list_party") 組リスト
    a.navbar-brand(href="#") 設定
    a.navbar-brand.pull-right(href="login" style="color:red") ログアウト