nav.navbar.navbar-light(style="background-color: #e3f2fd;")
    p: h3.text-left #{schoolName}
    a.navbar-brand(href="/menu") トップページ
    a.navbar-brand(href="/contents/student/list") 園児リスト
    a.navbar-brand(href="/contents/teachers/list") 保育士リスト
    a.navbar-brand(href="/contents/party/list") 組リスト
    a.navbar-brand(href="/contents/school/edit") 設定
    a.navbar-brand.pull-right(href="/logout" style="color:red") ログアウト
//.navbar.navbar-fixed-top(data-activeslide="1")
//    .container
//
//        // .navbar-toggle is used as the toggle for collapsed navbar content
//        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse")
//            span(class="icon-bar")
//            span(class="icon-bar")
//            span(class="icon-bar")
//        .nav-collapse.collapse.navbar-responsive-collapse
//            ul.nav.row
//                li(data-slide="1" class="col-12 col-sm-2")
//                    a(id="menu-link-1" href="#slide-1" title="Next Section")
//                        span(class="icon icon-home")
//                        span(class="text") HOME
//                li(data-slide="2" class="col-12 col-sm-2")
//                    a(id="menu-link-2" href="#slide-2" title="Next Section")
//                        span(class="icon icon-user")
//                        span class="text">ABOUT US
//                li(data-slide="3" class="col-12 col-sm-2")
//                    a(id="menu-link-3" href="#slide-3" title="Next Section")
//                        span(class="icon icon-briefase")
//                        span class="text">PORTFOLIO
//                li(data-slide="4" class="col-12 col-sm-2")
//                    a(id="menu-link-4" href="#slide-4" title="Next Section")
//                        span(class="icon icon-gears")
//                        span class="text">PROCESS
//                li(data-slide="5" class="col-12 col-sm-2")
//                    a(id="menu-link-5" href="#slide-5" title="Next Section")
//                        span(class="icon icon-heart")
//                        span class="text">CLIENTS
//                li(data-slide="6" class="col-12 col-sm-2")
//                    a(id="menu-link-6" href="#slide-6" title="Next Section")
//                        span(class="icon icon-envelpe")
//                        span class="text">CONTACT
//            div(class="row")
//                .col-sm-2.active-menu
//        //.nav-collapse
//    //.container
////.navbar