nav.navbar.navbar-light(style="background-color: #e3f2fd;")
    p: h3.text-left ～～保育園
    a.navbar-brand(href="/menu") トップページ
    a.navbar-brand(href="/contents/student/list") 園児リスト
    a.navbar-brand(href="/contents/teachers/list") 保育士リスト
    a.navbar-brand(href="/contents/party/list") 組リスト
    a.navbar-brand(href="/contents/school/edit") 設定
    a.navbar-brand.pull-right(href="login" style="color:red") ログアウト