- const rows = data.length // データの件数
- const dataRow = [] // 1行のデータを項目ごとに保持する

- for (let i = 0; i < rows; i++)

    - let link_edit = "location.href=\'" // リンク先
    - let link_delete = "location.href=\'" // リンク先
    - let page = ""
    - const genderColor = {man: 'blue', woman: 'red', other: 'green'}; // 性別を色で表す

    - if(title === "園児一覧")
        - page = '"stu"'
        - dataRow[0] = data[i].studentId
        - dataRow[1] = data[i].name
        - if(data[i].gender === "man")
            - dataRow[5] = "男"
        - else if(data[i].gender === "woman")
            - dataRow[5] = "女"
        - else
            - dataRow[5] = "その他"

        - dataRow[2] = data[i]['party.name']
        - dataRow[3] = data[i].age
    - else
        - dataRow[1] = data[i].name
        - dataRow[2] = data[i].remarks

        - if(title === "保育士一覧")
            - page = '"tea"'
            - dataRow[0] = data[i].teacherId
        - else
            - page = '"par"'
            - dataRow[0] = data[i].partyId

    - link_delete += "javascript:delete_row(" + (i + 1) + ", " + page + ");\'"
    // ID名を動的に生成
    tr(id="row" + (i + 1))
        td(onclick="getElementById('cb" + (i + 1) + "').click();")
            // 1列目のチェックボックス表示
            input(type="checkbox" id='cb' + (i + 1))
            // 隠し項目
            input(type="hidden" value = dataRow[0])

        - if(title === "園児一覧")
            td: img(src= "/image/" + dataRow[0] + ".jpg" style="border: double " + genderColor[data[i].gender])

        - link_edit += "javascript:edit_row(" + (i + 1) + ", " + page + ");\'"

        - for (let k = 0; k < cols + 2; k++)
            - if(k === cols)
                td.text-center: button.btn.btn-warning.btn-original(onclick= link_edit) 編集
            -else if(k === cols + 1)
                td.text-center: button.btn.btn-danger.btn-original(onclick= link_delete) 削除
            - else
                td.text-center(style='overflow:hidden'): span #{dataRow[k + 1]}