doctype html
html
    head
        include ../bootstrap
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/script.js")
        title= title
    body(onload = "javascript:init();")
        include ../list/list_header
        block content
        p
            .col-md-5.col-xs-5.text-right
                button(class='btn btn-default btn-lg active', type='button', onclick='location.href="/contents/student/list"') キャンセル
            .col-md-3.col-xs-3.text-right
                button(class='btn btn-primary btn-lg active', onclick='send();') 変更