doctype html
html
    head
        include ../bootstrap
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/javascripts/script.js")
        title= title
    body(onload = "javascript:init();")
        .container
            include ../list/list_header
            block content
            p#under
                .col-md-5.col-xs-5.text-right
                    - if(title === '園児編集')
                        button(class='btn btn-default btn-lg active', type='button', onclick='location.href="/contents/student/list"') キャンセル
                    - else
                        button(class='btn btn-default btn-lg active', type='button') キャンセル
                .col-md-3.col-xs-3.text-right
                    - if(title === '園児編集')
                        button(class='btn btn-primary btn-lg active', onclick='send();') 変更
                    - else
                        // 保育園編集のとき
                        button(class='btn btn-primary btn-lg active' onclick='schoolPasswordEdit()') 変更