doctype html
center
    html
        head
            include bootstrap
            link(rel='stylesheet', href='/stylesheets/style.css')
            body
                include ../layout_tanplate/list_header
                block content
                p
                    .col-md-5.col-xs-5.text-right
                        button(class='btn btn-default btn-lg active', type='button', onclick='send()') キャンセル
                    .col-md-3.col-xs-3.text-right
                        button(class='btn btn-primary btn-lg active', type='button', onclick='send()') 変更



