doctype html
center
    html
        head
            include bootstrap
            link(rel='stylesheet', href='/stylesheets/style.css')
            body
                block content
                p
                .row

                    .col-md-2.col-md-offset-5.col-xs-2.col-xs-offset-5.text-right
                        button(class='btn btn-default btn-lg active', type='button', onclick='send()') キャンセル
                    .col-md-2.col-xs-2.text-right
                        button(class='btn btn-primary btn-lg active', type='button', onclick='send()') 変更



