extends ../layout_template/layout

block content
    title=title
    p(style={color: "red", "font-weight": "bolder", "font-size": "xx-large"}) パスワードを変更しました。
    br
    p 下の「トップ画面へ」をクリックして業務に戻れます
    button(class='', type='button', onclick='') トップ画面へ






