extends ../layout_tanplate/layout

block content
    title パスワード

    p(style={color: "red", "font-weight": "bolder", "font-size": "xx-large"}) パスワード変更


    p
    br
    |変更用のリンクを送信しますのでメールアドレスの記入後下の「送信」クリックをお願いします



    table(class='type1')
        tr
            td
                |保育園ID
            td
                input(name='',  )
        tr
            td
                |メールアドレス
            td
                input(name='', type='')

    button(class='', type='button', onclick='send()') 送信