extends ../layout_template/layout

block content
    title=title

    p(style={color: "red", "font-weight": "bolder", "font-size": "xx-large"}) メールを送信しました
    p 送信されたメールに添付されたURLにアクセスしてパスワードの変更をお願いします