table
    
    tr
        td(class='left')
            | 名前：
        td(class='right')
            input(type='text', name='name', )
    tr
        td(class='left')
            | メールアドレス：
        td(class='right')
            input(type='text', name='name', )
    tr
        td(class='left')
            | 性別：
        td(class='right')
            | 男
            input(type='radio', name='sex', value="男性")
            |
            | 女
            input(type='radio', name='sex', value="女性")
    tr
        td(class='left')
            | 役職：
        td(class='right')
            select(name='')
                option(value='') アルバイト
    tr
        td(class='left')
            | 誕生日：
        td(class='right')
            | 平成
            select(name='')
            | 年
            select(name='')
            | 月
            select(name='')
            | 日
    tr
        td(class='left')
            | 電話番号：
        td(class='right')
            input(type='tel', name='name', )
