extends ../../layout_template/layout
block content
    title=title

    form( method='post', action='/contents/school/Provisional')
        include template
        button(class='', type='submit',  onclick="") 送信

