extends ../../layout_template/contents/edit
block script
    script(src="/javascripts/school_edit.js")
block content
    .text-center.row
        p(style={color: "", "font-weight": "bolder", "font-size": "xx-large"}) 設定
    .text-center.row
        .col-md-6.col-md-offset-3
            include template