extends ../../layout_template/contents/edit
block script
    script(src="/javascripts/school_edit.js")
block content
    .content-wrapper
        // コンテンツヘッダ
        //section.content-header: h1 #{title}
        // メインコンテンツ
        section.content
            .col-md-6.col-md-offset-3.text-center.row
                include template