extends ../../layout_template/contents/edit
block script
    script(src="/javascripts/school_edit.js")
block content
    .content-wrapper
        // コンテンツヘッダ
        // メインコンテンツ
        section.content
            .col-md-6.col-md-offset-3.text-center.row
                form#school_form(method='post' action='/contents/school/edit')
                    include template