extends ../../layout_template/layout

block content
    .container
        .col-md-6.col-md-offset-3.text-center(style="background-color: #e3f2fd;")
            .row
                .col-md-12
                    title=title
                    p(style={color: "red", "font-weight": "bolder", "font-size": "xx-large"}) 本登録が完了しました。
                    br
                    p 下の「ログイン」をクリックしてログイン画面へ飛びます。
                    button(class='btn btn-primary long120', type='button', onclick=onclick="location.href='/login'", style='') ログイン画面へ

