extends ../../layout_tanplate/layout

block content
    title=title
    p(style={color: "red", "font-weight": "bolder", "font-size": "xx-large"}) 本登録が完了しました。
    br
    p 下の「ログイン」をクリックしてログイン画面へ飛びます。
    button(class='', type='button', onclick='') ログイン画面へ

