extends ../../layout_tanplate/layout

block content
    title=title
    p(style={color: "red", "font-weight": "bolder", "font-size": "xx-large"}) まだ登録が終わっていません。
    br
    p 送信されたメールに添付されたURLにアクセスしたら登録完了です。