extends ../../layout_template/layout
block content
    center
        p そのIDは使用されています。
        | 下記ボタンから登録画面へ戻ってください。
        br
        button(class='', type='button', onclick=onclick="location.href='/contents/school/add'", style='') 登録画面へ