extends layout_template/layout

block script
    script (src="/javascripts/login/")

block content
    .container
        .row
            .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4.text-right
                if (message)
                    .alert.alert-danger(role="alert") #{message}
                button.btn.btn-danger.btn-lg.btn-original.long120(onclick='location.href="contents/school/add"') 新規登録
        .row
            .col-xs-12.col-md-4.col-md-offset-4.text-center(style="background-color: #e3f2fd;")
                // 左側
                h2 管理システム
                // 右側
                .login-form.center-block

                    form#login_form(method="POST" action="/login")
                        h3 保育園ID
                        input#schoolId(name="schoolId", required,value="guriko")
                        h3 パスワード
                        input#password(name="password"  type="password", required,value="guriko")
                        p: button#login.btn.btn-primary.btn-lg.btn-original.long120(type="submit") ログイン
                    p.text-left: a(href="forgotPassword/inputAddress") パスワードを忘れたら

