extends layout_tanplate/layout
block content
    .container.text-center
        include layout_tanplate/list_header

        .row
            .col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4
                h3 お知らせ