extends layout_template/layout
block content
    .container.text-center
        include layout_template/list/list_header

        .row
            .col-md-6.col-md-offset-3
                .panel.panel-primary
                    .panel-heading: h2.panel-title お知らせ
                    .panel-body
                        p