body {

  padding: 20px;
  font: italic normal bold large/200% "Lucida Grande", Helvetica, Arial, sans-serif;
}
table{
  border-collapse: separate;
  border-spacing: 10px;
}
tr{
  text-align:left
}
td.left{
  text-align:left;
}
td.right{
  text-align:left;
}
button{
  text-align: center;
  vertical-align: middle;
  width: 120px;
  height:40px;
}
a {
  color: #00B7FF;
}
