body {

  padding: 20px;
  font: italic normal bold large/200% "Lucida Grande", Helvetica, Arial, sans-serif;
}
table{
  border-collapse: separate;
  border-spacing: 10px;
}
tr{
  text-align:left
}
td.left{
  text-align:left;
}
td.right{
  text-align:left;
}
button{
  text-align: center;
  vertical-align: middle;
  width: 120px;
  height:40px;
}
/* 絞り込み用ボックス */
.refineBox {
  border:1px black solid;
  padding:2% 0%;
  font-size: 18px;
  display:table;
}

/* 絞り込み実行ボタン */
.refine-student-btn {
  vertical-align: bottom;
  display:table-cell;
  float:none;
}

/* 絞り込み実行ボタン以外の絞り込みボックス */
.refine-other {
  vertical-align: top;
  display:table-cell;
  float:none;
}

/* ここから下はbootstrapの上書き */
/* ボタンにmarginをつける */
.btn-original {
  margin:10px 5px;

}

/* セル内で垂直方向の中央に配置 */
.table tbody tr td {
  vertical-align: middle;
}
a {
  color: #00B7FF;
}
