extends ../../layout_tanplate/edit
//よしき
block content
    h1= title
    p 組　編集 #{title}
        br

        .container
            .row
                .col-md-8.col-md-offset-4.col-xs-8.col-xs-offset-4.text-left
                    h1= title
                    h1 組　追加
                    br
                    br
            .row
                .col-md-8.col-md-offset-3.col-xs-8.col-xs-offset-3.text-left
                    table
                        tbody
                            tr
                                td(class="left") 新しい組：
                                td: input(type='text', name='name', size=20)

