meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
script(src="/jquery/jquery.min.js")
script(src="/javascripts/list/jquery.qrcode.min.js")

script(src="/bootstrap/js/bootstrap.min.js")

script(src="/admin-lte/js/adminlte.min.js" type="text/javascript")

link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css")
link(rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" crossorigin="anonymous")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous")

link(href="/stylesheets/AdminLTE.min.css" rel="stylesheet" type="text/css")
link(href="/stylesheets/skin-blue.min.css" rel="stylesheet" type="text/css")