doctype html
html
  head
    title= title
    include bootstrap
    link(rel='stylesheet', href='/stylesheets/style.css')
    block meta
    block script
  - if(title === 'ログイン画面')
    body.login-page
      block content
  - else if(schoolName)
    body.skin-blue
      .wrapper
        block content
  - else
    body
      block content