doctype html
center
  html
    head
      title= title
      include bootstrap
      link(rel='stylesheet', href='/stylesheets/style.css')
      block script
      body(onload="init();")
        block content


