extends ../../layout_template/contents/add

block content
    h1= title
    container

        br
        .row
            .col-md-2.col-md-offset-2.col-xs-2.col-xs-offset-2.text-right
                img(src='images/chino.png', width='150', height='150')
                button(class='btn btn-default btn-md active', type='button', onclick='send()') ＋画像の追加
            .col-md-offset-5.text-left
                include template


