extends ../../layout_tanplate/edit

block content
  container
    .row
      .col-md-8.col-md-offset-4.col-xs-8.col-xs-offset-4
        h1= title
        h1 園児　編集
    br
    .row
      .col-md-2.col-md-offset-2.col-xs-2.col-xs-offset-2.text-right
        img(src='images/chino.png', width='150', height='150')
        button(class='btn btn-default btn-md active', type='button', onclick='send()') ＋画像の追加
      .col-md-offset-5.text-left

        include tanplate

